<!DOCTYPE html>
<html>
    <head>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class='container'>
            <div class='row'>
                <div class='span12'>
                    {{{content}}}
                </div>
            </div>
        </div>
    </body>
</html>