<h1>Create a new document</h1>
<form action="/" method="post" class="form-horizontal">
  <fieldset>

      <!-- Form Name -->
      <legend>Datadown Template</legend>

      <!-- Textarea -->
      <div class="control-group">
        <label class="control-label" for="template">Template</label>
        <div class="controls">                     
          <textarea id="template" name="template" rows="10" cols="100"># hulleww</textarea>
        </div>
      </div>

      <!-- Textarea -->
      <div class="control-group">
        <label class="control-label" for="context">Data</label>
        <div class="controls">                     
          <textarea id="context" name="context" rows="10" cols="100">{ "a": 1 }</textarea>
        </div>
      </div>

      <!-- Button -->
      <div class="control-group">
        <label class="control-label" for="_createDoc"></label>
        <div class="controls">
          <button id="_createDoc" name="_createDoc" class="btn btn-primary" type="submit">Create Doc</button>
        </div>
      </div>
      
      <input type="hidden" name="local" value="1"/>
  </fieldset>
</form>